<div id="<%= dom_id(event) %>" class="col-md-12 col-xs-12 col-sm-12 event">
  <div class="media">
    <span class="pull-left glyphicon glyphicon-list-alt" style="font-size: 35px;"></span>
    <div class="media-body">
      <a href="#" data-toggle="modal" data-target="#<%= dom_id(event) %>_modal">
        <h4 class="media-heading"><%= event.name %></h4>
      </a>
      <%= event.description %>
    </div>
  </div>
</div>
