<div class="media col-md-6 col-xs-12- col-sm-6">
  <span class="pull-left glyphicon glyphicon-list-alt" style="font-size: 35px;"></span>
  <div class="media-body">
    <h4 class="media-heading"><%= event.name %></h4>
    <%= event.description %>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum dolore eu fugiat nullapariatur. Excepteur sint occaecat cupid
  </div>
</div>
